<div class="container">
    <div class="row"> 
        <center>
        <h3><a href="submission" target="_blank"> Abstract submission</a> for the Bioconductor Asia 2022 symposium is now open!</h3>
        <h3><a href="registration" target="_blank"> Registration</a> for the Bioconductor Asia 2022 symposium is now open!</h3>
        <h4> Bioconductor Asia 2022 symposium is organized as a hybrid event. This includes in-person gathering in Melbourne at RMIT and online participation. </h4>
        <p class="text-primary text-large mb-small text-left">
            </b>.
        </p>
        </center>
    </div>
    <div class="row">
        <table style="width:100%">
            <tr>
                <th><h4>Mark your calendar</h4></th>
                <th>Tweets by <a href="https://twitter.com/Bioconductor" target="blank">@Bioconductor</a></th>
            </tr>
            <tr>
                <td>
                    <ul>
                        <li><b>August 1, 2022</b>:Call for abstracts opens.</li>
                        <li><b>August 12, 2022</b>: Call for abstracts is closed</li>
                        <li><b>August 19, 2022</b>: <a href="registration" target="_blank">Registration</a> for the symposium opens. </li>
                        <li><b>August 19, 2022</b>: Notification of abstract decision</li>
                        <br>
                    </ul>
                </td>
                <td>
                    <a class="twitter-timeline" data-height="200" href="https://twitter.com/Bioconductor?ref_src=twsrc%5Etfw">Tweets by Bioconductor</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                </td>
            </tr>
        </table>

        </p>
</div>
</div>
