<div class="container">
    <div class="row"> 
        <center>
        <h3><a href="https://www.abacbs.org/registration#!event-register/2022/11/28/abacbs-2022"> Registration</a> is now open!</h3>
        <h3><a href="https://pheedloop.com/ABACBS2022/proposal/start/?call=CALGZDPQQ6NQ68Y"> Abstract submission (for a talk or software demo)</a>  is now open!
        <br>We will be happy to offer online presentations!</h3>        
        <h3><a href="https://forms.gle/8Fjzngv9pGYLQUaZ6"> Scholarship applications</a> are now open!</h3>
        <h4> Bioconductor Asia 2022 symposium is organized as a hybrid event. This includes in-person gathering in Melbourne at RMIT and online participation. </h4>
        <p class="text-primary text-large mb-small text-left">
            </b>.
        </p>
        </center>
    </div>
    <div class="row">
        <table style="width:100%">
            <tr>
                <th><h4>Mark your calendar</h4></th>
                <th>Tweets by <a href="https://twitter.com/Bioconductor" target="blank">@Bioconductor</a></th>
            </tr>
            <tr>
                <td>
                    <ul>
                        <li><h4><font color="red">October 30</font>, 2022: Call for abstracts closes</h4></li>
                        <li><h4><font color="red">November 14</font>, 2022: Notification of abstract decision</h4></li>
                        <br>
                    </ul>
                </td>
                <td>
                    <a class="twitter-timeline" data-height="200" href="https://twitter.com/Bioconductor?ref_src=twsrc%5Etfw">Tweets by Bioconductor</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                </td>
            </tr>
        </table>

        </p>
</div>
</div>
